<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <div class='container'>
    <div>
      <label>Username :<br>
        <input type="text" formControlName="username">
      </label>
    </div>
    <div formGroupName="credentials">
      <div>
        <label>
          Email :<br>
          <input type="email" formControlName="email">
        </label>
      </div>
      <div>
        <label>
          Password :<br>
          <input type="password" formControlName="password">
        </label>
      </div>
    </div>
    <div formGroupName="addressForm">
      <div>
        <label>
          Address :<br>
          <input type="text" formControlName="address">
        </label>
      </div>
      <div>
        <label>
          Zip : <br>
          <input type="number" formControlName="zip">
        </label>
      </div>
      <div>
        <label>
            City :<br>
          <input type="text" formControlName="city">
        </label>
      </div>
    </div>
    <button type="submit" [disabled]="!userForm.valid">Submit</button>
  </div>
</form>



<pre *ngIf="visible">
  {{userForm.value | json}}
</pre>
